# Introduction

In [1]:
"""
What? Census income data set (Classification)


Reference: Corey Wade. “Hands-On Gradient Boosting with XGBoost and scikit-learn        
           https://github.com/PacktPublishing/Hands-On-Gradient-Boosting-with-XGBoost-and-Scikit-learn
"""

'\nWhat? Gradient boosting applied to the bike rental dataset\n\n\nRevision No: 1\nLast revised: 07/02/21\nReference: Corey Wade. “Hands-On Gradient Boosting with XGBoost and scikit-learn\n           https://github.com/PacktPublishing/Hands-On-Gradient-Boosting-with-XGBoost-and-Scikit-learn\nGLM\n'

# Import python modules

In [32]:
import warnings
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

# Upload dataset

In [3]:
# Upload Census dataset (adult) from UCI Machine Learning Repository
df_census = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

# Display first 5 rows
df_census.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [12]:
# Upload Census dataset with no header
df_census = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)

# Display first 5 rows
df_census.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [13]:
# Define df_census columns
df_census.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                  'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 
                   'income']

# Display first 5 rows
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
# Display df_census info
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
"""
A quick review of the df_census data reveals an 'education' column and an education_num column. The education_num 
column is a numerical conversion of 'education'. Since the information is the same, the 'education' column may be 
deleted.
"""

In [15]:
# Drop education column
df_census = df_census.drop(['education'], axis=1)

In [ ]:
"""
As you can see, new columns are created using a column_value syntax referencing the original column. For example, 
native-country is an original column, and Taiwan is one of many values. The new native-country_Taiwan column has 
a value of 1 if the person is from Taiwan and 0 otherwise.
"""

In [16]:
# Convert non-numeric columns using get_dummies
df_census = pd.get_dummies(df_census)

# Display first 5 rows
df_census.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
"""
Using pd.get_dummies may increase memory usage, as can be verified using the .info() method on the DataFrame in
question and checking the last line.”
"""

In [17]:
# Display df_census info
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 94 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         32561 non-null  int64
 1   fnlwgt                                      32561 non-null  int64
 2   education-num                               32561 non-null  int64
 3   capital-gain                                32561 non-null  int64
 4   capital-loss                                32561 non-null  int64
 5   hours-per-week                              32561 non-null  int64
 6   workclass_ ?                                32561 non-null  uint8
 7   workclass_ Federal-gov                      32561 non-null  uint8
 8   workclass_ Local-gov                        32561 non-null  uint8
 9   workclass_ Never-worked                     32561 non-null  uint8
 10  workclass_ Private                          32561 non-null  uint8
 11  workclass_ Self-emp-inc                     32561 non-null  uint8
 12  workclass_ Self-emp-not-inc                 32561 non-null  uint8
 13  workclass_ State-gov                        32561 non-null  uint8
 14  workclass_ Without-pay                      32561 non-null  uint8
 15  marital-status_ Divorced                    32561 non-null  uint8
 16  marital-status_ Married-AF-spouse           32561 non-null  uint8
 17  marital-status_ Married-civ-spouse          32561 non-null  uint8
 18  marital-status_ Married-spouse-absent       32561 non-null  uint8
 19  marital-status_ Never-married               32561 non-null  uint8
 20  marital-status_ Separated                   32561 non-null  uint8
 21  marital-status_ Widowed                     32561 non-null  uint8
 22  occupation_ ?                               32561 non-null  uint8
 23  occupation_ Adm-clerical                    32561 non-null  uint8
 24  occupation_ Armed-Forces                    32561 non-null  uint8
 25  occupation_ Craft-repair                    32561 non-null  uint8
 26  occupation_ Exec-managerial                 32561 non-null  uint8
 27  occupation_ Farming-fishing                 32561 non-null  uint8
 28  occupation_ Handlers-cleaners               32561 non-null  uint8
 29  occupation_ Machine-op-inspct               32561 non-null  uint8
 30  occupation_ Other-service                   32561 non-null  uint8
 31  occupation_ Priv-house-serv                 32561 non-null  uint8
 32  occupation_ Prof-specialty                  32561 non-null  uint8
 33  occupation_ Protective-serv                 32561 non-null  uint8
 34  occupation_ Sales                           32561 non-null  uint8
 35  occupation_ Tech-support                    32561 non-null  uint8
 36  occupation_ Transport-moving                32561 non-null  uint8
 37  relationship_ Husband                       32561 non-null  uint8
 38  relationship_ Not-in-family                 32561 non-null  uint8
 39  relationship_ Other-relative                32561 non-null  uint8
 40  relationship_ Own-child                     32561 non-null  uint8
 41  relationship_ Unmarried                     32561 non-null  uint8
 42  relationship_ Wife                          32561 non-null  uint8
 43  race_ Amer-Indian-Eskimo                    32561 non-null  uint8
 44  race_ Asian-Pac-Islander                    32561 non-null  uint8
 45  race_ Black                                 32561 non-null  uint8
 46  race_ Other                                 32561 non-null  uint8
 47  race_ White                                 32561 non-null  uint8
 48  sex_ Female                                 32561 non-null  uint8
 49  sex_ Male                                   32561 non-null  uint8
 50  native-country_ ?                           32561 non-null  uint8
 51  native-country_ Cambodia                    32561 non-null  uint8
 52  native-country_ Canada                      32561 non-null  uint8
 53  native-country_ China                       32561 non-null  uint8
 54  native-country_ Columbia                    32561 non-null  uint8
 55  native-country_ Cuba                        32561 non-null  uint8
 56  native-country_ Dominican-Republic          32561 non-null  uint8
 57  native-country_ Ecuador                     32561 non-null  uint8
 58  native-country_ El-Salvador                 32561 non-null  uint8
 59  native-country_ England                     32561 non-null  uint8
 60  native-country_ France                      32561 non-null  uint8
 61  native-country_ Germany                     32561 non-null  uint8
 62  native-country_ Greece                      32561 non-null  uint8
 63  native-country_ Guatemala                   32561 non-null  uint8
 64  native-country_ Haiti                       32561 non-null  uint8
 65  native-country_ Holand-Netherlands          32561 non-null  uint8
 66  native-country_ Honduras                    32561 non-null  uint8
 67  native-country_ Hong                        32561 non-null  uint8
 68  native-country_ Hungary                     32561 non-null  uint8
 69  native-country_ India                       32561 non-null  uint8
 70  native-country_ Iran                        32561 non-null  uint8
 71  native-country_ Ireland                     32561 non-null  uint8
 72  native-country_ Italy                       32561 non-null  uint8
 73  native-country_ Jamaica                     32561 non-null  uint8
 74  native-country_ Japan                       32561 non-null  uint8
 75  native-country_ Laos                        32561 non-null  uint8
 76  native-country_ Mexico                      32561 non-null  uint8
 77  native-country_ Nicaragua                   32561 non-null  uint8
 78  native-country_ Outlying-US(Guam-USVI-etc)  32561 non-null  uint8
 79  native-country_ Peru                        32561 non-null  uint8
 80  native-country_ Philippines                 32561 non-null  uint8
 81  native-country_ Poland                      32561 non-null  uint8
 82  native-country_ Portugal                    32561 non-null  uint8
 83  native-country_ Puerto-Rico                 32561 non-null  uint8
 84  native-country_ Scotland                    32561 non-null  uint8
 85  native-country_ South                       32561 non-null  uint8
 86  native-country_ Taiwan                      32561 non-null  uint8
 87  native-country_ Thailand                    32561 non-null  uint8
 88  native-country_ Trinadad&Tobago             32561 non-null  uint8
 89  native-country_ United-States               32561 non-null  uint8
 90  native-country_ Vietnam                     32561 non-null  uint8
 91  native-country_ Yugoslavia                  32561 non-null  uint8
 92  income_ <=50K                               32561 non-null  uint8
 93  income_ >50K                                32561 non-null  uint8
dtypes: int64(6), uint8(88)
memory usage: 4.2 MB

In [ ]:
"""
The target column is whether or not someone makes 50K. After pd.get_dummies, two columns, 
df_census['income_<=50K'] and df_census['income_>50K'], are used to determine whether someone
makes 50K. Since either column will work, we delete df_census['income_ <=50K'
"""

In [18]:
# Drop column 'income_ <=50K'
df_census = df_census.drop('income_ <=50K', axis=1)

In [21]:
# Split data into X and y
X = df_census.iloc[:,:-1]
y = df_census.iloc[:,-1]

In [30]:
# Define cross_val function with classifer and num_splits as input
def cross_val(classifier, num_splits=10):
    
    # Initialize classifier
    model = classifier

    # Obtain scores of cross-validation
    scores = cross_val_score(model, X, y, cv=num_splits)

    # Display accuracy
    print('Accuracy across the 10-folds:', np.round(scores, 2))

    # Display mean accuracy
    print('Accuracy mean: %0.2f' % (scores.mean()))

# Scikit logistic regression vs. XGBClassifier

In [31]:
# Use cross_val function to score LogisticRegression
cross_val(LogisticRegression(max_iter = 2000))

Accuracy across the 10-folds: [0.8  0.8  0.79 0.8  0.79 0.81 0.79 0.79 0.8  0.8 ]
Accuracy mean: 0.80

In [ ]:
"""
Now run the classifier in the cross_val function with one important addition. Since there are 94 columns, 
and XGBoost is an ensemble method, meaning that it combines many models for each run, each of which includes 
10 splits, we are going to limit n_estimators, the number of models, to 5. Normally, XGBoost is very fast. 
In fact, it has a reputation for being the fastest boosting ensemble method out there, a reputation that we 
will check in this book! For our initial purposes, however, 5 estimators, though not as robust as the default 
of 100, is sufficient.
"""

In [33]:
# Use cross_val function to score XGBoost
cross_val(XGBClassifier(n_estimators=5))

Accuracy across the 10-folds: [0.85 0.86 0.87 0.85 0.86 0.86 0.86 0.87 0.86 0.86]
Accuracy mean: 0.86